<div class="container" *ngIf="(myProduct$ | async ) as product">
    <div class="raw m-4">
        <div class="col-lg-4">
            <button class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
        <div class="raw m-4">
            <div class="col-lg-6">
                <img [src]="product.imageUrl" width="45%">
            </div>
            <div class="col-lg-6">
                <h1>{{ product.name }}</h1>
                <h3>{{ product.price }}</h3>
                <h5>{{ product.description }}</h5>
            </div>
            <div class="row-m-4">
                <div class="col-lg-6">
                    <button class="btn btn-warning"[routerLink]="['/products',product.id,'edit']">Edit Details</button>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-danger"(click)="deleteProduct(product.id)">Delete Product</button>
                </div>
            </div>
        </div>
        <div class="row m-4">
            <div class="col-lg-3">
                <button class="btn btn-primary" [routerLink]="['/products',product.id,'reviews']">Review</button>
            </div>

            <div class="col-lg-3">
                <button class="btn btn-primary"
                    [routerLink]="['/products',product.id,'specification']">Specification</button>
            </div>
        </div>
        <div class="row m-4">
            <router-outlet></router-outlet>
        </div>
    </div>